.header {
    --border-color: #E6E6E6;

    padding: 21px 0;
    background-color: var(--color-light);
    box-shadow: 0px 8px 16px 0px rgba(229, 229, 229, 0.20);


    &__inner {
        @include wrapper();
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-wrapper {
        display: flex;
        align-items: center;
    }

    &__logo-description {
        font-size: 15px;
        padding-left: 15px;
        margin-left: 15px;
        border-left: 1px solid var(--border-color);
    }

    &__details {
        display: flex;
        align-items: center;
    }

    &__detail {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }
}