.placeholder-list {
    overflow: hidden;
    background-color: var(--color-grey);
    padding-top: 85px;
    padding-bottom: 85px;

    &__container {
        border-radius: 50px;
        background-color: #9BDAFC;
        box-shadow: 2px 3px 29px 0px rgba(229, 229, 229, 0.20);

    }

    &__inner {
        height: 728px;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        margin-right: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__entry-form {
        display: block;
        border-radius: 25px;
        border: 5px solid #FFF;
        @include col();
        @include size(4);
    }

    &__info-title {
        @include col();
        @include size(5);
        padding-top: 61px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    &__input {
        border-radius: 20px;
        background: #FFF;
        border-style: none;
        padding: 22px 42px 22px 42px;
        margin-right: 27px;
        margin-left: 27px;
        margin-bottom: 15px;
    }

    &__name {
        margin-top: -33px;
    }

    &__button {
        display: flex;
        justify-content: center;
        margin-bottom: -23px;
    }

    &__title {
        color: #FFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        padding-bottom: 19px;
        margin: 0px;
    }

    &__title-description {
        color: #FFF;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0px;
        padding-bottom: 94px;
    }

    &__picture {
        position: relative;
        bottom: 76px;
        left: 85px;
        padding-right: auto;
    }

}