@import "./vendor/index.scss";
@import "./modules/index.scss";

:root {
    --color-light: #FFFFFF;
    --accent-color: #F90;
    --text-primary: #3A3A3A;
    --text-secondary: #495059;
    --color-warning: #FF0000;
    --color-info: #00A6FF;
    --color-grey: #F9F8F8;
}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-primary);
}

.container_fluid {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.relative {
    position: relative;
}

.title {
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;

    strong {
        color: var(--accent-color);
    }
}